chatgpt4-n8n-workflow.json
{
  "name": "ChatGPT-4 Simple Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "به من یک نکته درباره یوگا بگو"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Set Input Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatMessage": [
          {
            "role": "user",
            "content": "={{$json[\"prompt\"]}}"
          }
        ],
        "model": "gpt-4"
      },
      "id": "3",
      "name": "ChatGPT-4",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    response: $json.choices[0].message.content\n  }\n}];"
      },
      "id": "4",
      "name": "Extract Answer",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set Input Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Text": {
      "main": [
        [
          {
            "node": "ChatGPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT-4": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "2025-05-11T09:40:45.644249"
}